*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Kumbh Sans', sans-serif;
    }
    
.container {
    width : 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E8ED;
    margin-bottom: 120px;
    position: relative;
}

.nav {
    width: 750px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 185px;
    height: 30px;
}

.logo:hover{
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.menu:hover{
    cursor: pointer;
}

.menu p {
    font-size: 18px;
    color: hsl(219, 9%, 45%);
}

.procart {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopping {
    display: flex;
    align-items: start;
    width: 40px;
    margin-right: 60px;
}
.cart {
    width: 28px;
    height: 30px;
}

.cart:hover{
    cursor: pointer;
}

.badge {
    background-color: #FFFFFF;
    margin-top: -10px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 5px;
}

.profile {
    width: 70px;
    height: 70px;
    background-image: url(images/image-avatar.png);
    background-size: cover;
}

.profile:hover{
    cursor: pointer;
}

.basket {
    display: none;
    width: 450px;
    top: 125px;
    right: -100px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 35px 60px -30px #808080;
    position: absolute;
}

.cart-title {
    padding: 25px;
    border-bottom: 2px solid #E1E8ED;
}

.cart-title p {
    font-size: 24px;
    font-weight: 700;
}

.cart-content {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-empty {
    padding: 100px 0;
    font-size: 20px;
    font-weight: 700;
    color: #808080;
}

.basket-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-thumbnail {
    width : 70px;
    height : 70px;
    background-image: url(images/image-product-1-thumbnail.jpg);
    background-size: cover;
    border-radius: 5px;
}

.basket-info {
    padding: 10px 0;
}

.basket-title {
    color: #808080;
    font-size: 21px;
    margin-bottom: 10px;
}

.basket-price {
    color: #808080;
    font-size: 20px;
}

.bold-price {
    color: #000000;
}

.delete {
    width : 20px;
    height : 25px;
}

.delete:hover {
    cursor: pointer;
}

.check-out {
    width: 100%;
    padding: 0 25px 25px 25px;
}

.check-out-button:hover {
    cursor: pointer;
}

.check-out-button {
    width: 100%;
    padding: 25px;
    background-color: #ff7d1a;
    border-radius: 15px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    margin-bottom: 200px;
}

.photos {
    width: 575px;
}

.big-photo {
    width: 575px;
    height: 575px;
    background-image: url(images/image-product-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
    margin-bottom: 40px;
}

.big-photo:hover {
    cursor: pointer;
}

.small-photos {
    display: flex;
    justify-content: space-between;
}

.small-photos img {
    width: 120px;
    height: 120px;
}

.small-photos div {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    overflow: hidden;
}

.small-photos div :hover {
    cursor: pointer;
}

.photo1 {
    border: 2px solid #ff7d1a;
    background-color: #FFFFFF;
}

.photo1 img {
    opacity: 0.3;
}

.photo2 {
    background-color: #FFFFFF;
}

.photo3 {
    background-color: #FFFFFF;
}

.photo4 {
    background-color: #FFFFFF;
}

.infos {
    width: 575px;
    padding: 70px 0;
}

.company {
    color: hsl(26, 100%, 55%);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h1 {
    font-size: 60px;
    margin-bottom: 50px;
    line-height: 0.99;
}

.info {
    color: hsl(219, 9%, 45%);
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.the-price {
    font-size: 36px;
    margin-right: 20px;
}

.discount {
    font-size: 20px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 5px;
    border-radius: 10%;
}

.old-price {
    font-size: 21px;
    font-weight: 700;
    color: hsl(220, 14%, 75%);
    text-decoration: underline;
    text-underline-offset: -35%;
    text-decoration-skip-ink: none;
    margin-bottom: 45px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.count {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    padding: 20px;
}

.minus {
    font-size: 32px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.minus:hover {
    cursor: pointer;
}

.plus {
    font-size: 32px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.plus:hover {
    cursor: pointer;
}

.number {
    font-size: 24px;
    font-weight: 700;
}

.add {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 35px 60px -30px hsl(26, 100%, 55%);
}

.add:hover {
    cursor: pointer;
}

.shopping-cart {
    margin-right: 20px;
}

.add-to-cart {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
}

.popup-shadow {
    display: none;
    background:#000000;
    position: fixed;
    opacity: 0.7;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: 1;
}

.popup-container {
    display: none;
    position: absolute;
    top: 135px;
    margin: 0 345px;
    width: 750px;
    z-index: 2;
}

.close {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-bottom: 30px;
}

.close img {
    width: 28px;
    height: 30px;
}

.close:hover {
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.left-button {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
    z-index: 3;
}

.left-button:hover {
    cursor: pointer;
}

.right-button:hover {
    cursor: pointer;
}

.right-button {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    z-index: 3;
}

.frame {
    width: 700px;
    height: 700px;
    overflow: hidden;
    border-radius: 25px;
}

.slide {
    width: 2800px;
    height: 700px;
    display: flex;
}

.slide div {
    width: 700px;
    height: 700px;
    background-size: cover;
}

.slide1 {
    background-image: url(images/image-product-1.jpg);
}

.slide2 {
    background-image: url(images/image-product-2.jpg);
}

.slide3 {
    background-image: url(images/image-product-3.jpg);
}

.slide4 {
    background-image: url(images/image-product-4.jpg);
}

.popup-small-photos {
    display: flex;
    justify-content: space-between;
    width: 575px;
    margin: 0 auto;
}

.popup-small-photos img {
    width: 120px;
    height: 120px;
}

.popup-small-photos div {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    overflow: hidden;
}

.popup-photo1 {
    background-color: #FFFFFF;
}

.popup-photo2 {
    background-color: #FFFFFF;
}

.popup-photo3 {
    background-color: #FFFFFF;
}

.popup-photo4 {
    background-color: #FFFFFF;
}

.mobile {
    display: none;
    width: 100vw;
    height: 100vh;
}


@media only screen and (max-width: 900px) {
    .container {
        display: none;
    }
    .mobile {
        display: block;
    }
  }

.mob-header {
    position: fixed;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    z-index: 4;
}

.mob-menu {
    margin-right: 10px;
}

.mob-right {
    display: flex;
    align-items: center;
}

.mob-badge {
    background-color: #FFFFFF;
    margin-top: -20px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 5px;
    margin-right: 25px;
}

.mob-profile {
    width: 25px;
    height: 25px;
    background-image: url(images/image-avatar.png);
    background-size: cover;
}

.mob-shadow {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: #000000;
    opacity: 0.7;
    z-index: 4;
}

.mob-side-bar {
    width: 70vw;
    height: 100vh;
    margin-left: -70vw;
    padding: 25px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 5;
}

.mob-side-bar p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.mob-close {
    margin-bottom: 50px;
}

.mob-left-but {
    position: absolute;
    left: 5%;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
    z-index: 3;
}

.mob-right-but {
    position: absolute;
    right: 5%;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    z-index: 3;
}

.mob-left-but img {
    width: 9px;
}

.mob-right-but img {
    width: 9px;
}

.mob-space {
    height: 75px;
}

.mob-slider {
    width: 100vw;
    height: 80vw;
    background-color: #ff7d1a;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.mob-frame {
    width: 100vw;
    height: 80vw;
    overflow: hidden;
}

.mob-slide {
    width: 400vw;
    height: 80vw;
    display: flex;
}

.mob-slide div {
    width: 100vw;
    height: 80vw;
    background-size: cover;
    background-position-y: center;
}

.mob-slide1 {
    background-image: url(images/image-product-1.jpg);
}

.mob-slide2 {
    background-image: url(images/image-product-2.jpg);
}

.mob-slide3 {
    background-image: url(images/image-product-3.jpg);
}

.mob-slide4 {
    background-image: url(images/image-product-4.jpg);
}

.mob-infos {
    width: 100vw;
    padding: 0 25px;
}

.mob-company {
    color: hsl(26, 100%, 55%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.mobile h1 {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 0.99;
}

.mob-info {
    color: hsl(219, 9%, 45%);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.mob-prices-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.mob-prices {
    display: flex;
    align-items: center;
}

.mob-the-price {
    font-size: 28px;
    margin-right: 20px;
}

.mob-discount {
    font-size: 16px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 5px;
    border-radius: 10%;
}

.mob-old-price {
    font-size: 21px;
    font-weight: 700;
    color: hsl(220, 14%, 75%);
    text-decoration: underline;
    text-underline-offset: -35%;
    text-decoration-skip-ink: none;
}

.mob-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.mob-count {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.mob-minus {
    font-size: 32px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.mob-minus:hover {
    cursor: pointer;
}

.mob-plus {
    font-size: 32px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.mob-plus:hover {
    cursor: pointer;
}

.mob-number {
    font-size: 18px;
    font-weight: 700;
}

.mob-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 35px 60px -30px hsl(26, 100%, 55%);
}

.mob-add:hover {
    cursor: pointer;
}

.mob-shopping-cart {
    margin-right: 20px;
}

.mob-add-to-cart {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}


